<div id="<%= dom_id property %>">
  <p>
    <strong>Title:</strong>
    <%= property.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= property.url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= property.property_type %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= property.location %>
  </p>

  <p>
    <strong>Surface:</strong>
    <%= property.surface %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= property.rooms %>
  </p>

</div>
