<!DOCTYPE html>
<html>
<head>
    <title>ProgRando</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# Multiples sources pour Font Awesome %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/fr.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css"/>
</head>

<body>
<% flash.each do |type, message| %>
    <div class="alert <%= type == 'notice' ? 'alert-success' : 'alert-danger' %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>
<%= render partial: 'layouts/topbar' %>
<%= render partial: 'layouts/next_hike' %>


<style>
    /* Ajustements pour petits écrans */
    @media (max-width: 768px) {
        .card-body .gap-2 {
            gap: 0.75rem !important;
        }

        .d-flex.flex-wrap {
            justify-content: space-between;
        }

        /* Optionnel: ajuster la taille du texte sur mobile */
        .card-body {
            font-size: 0.9rem;
        }
    }
</style>
<%= yield %>
</body>
</html>